*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    position: absolute;
    top: 10%;
    left: 35%;
    box-shadow: 0 0 10px 10px rgb(97, 90, 90);
    width: 30%;
    height: auto;
}
h1{
    text-align: center;
}
#data-box{
    box-shadow: 0 0 10px 10px rgb(97, 90, 90);
   height: 350px;
}
input{
    width: 80%;
    padding: 8px;
   position: absolute;
   margin-left: 40px;
    border: 2px solid black;
}
#job {
    width: 80%;
    padding: 16px;
   position: absolute;
   margin-left: 40px;
  
    border: 2px solid black;
}
#department{
    width: 80%;
    padding: 16px;
   position: absolute;
   margin-left: 40px;
    border: 2px solid black;
}
#output{
    position: absolute;
  margin-top: 500px;
    left: 30%;
}
table th{
    background-color: #ffd64fff;
    padding: 15px;
    border: none;
}
